<!-- <h5 class="text-center text-primary"></h5> -->
<h3 class="display-4 text-center text-primary">Prestar libro <i class="fas fa-book-medical"></i></h3>
<hr>
<form class="container" autocomplete="off" (ngSubmit)="altalib(forma)" #forma="ngForm">

    <div class="form-group row">
        <label class="col-3 col-form-label text-center font-weight-bold" for="nombre">Código del libro:</label>
        <div class="col-9">
            <input class="form-control" type="text" placeholder="Código del libro" id=" validationServer01"
                [(ngModel)]="libp.libro" name="titulo" #nombre="ngModel" required>

            <div class="invalid-feedback">

                El nombre es necesario.

            </div>
        </div>
    </div>

    <p>
    <div class="form-group row">
        <label class="col-3 col-form-label text-center font-weight-bold" for="nombre">Código del usuario:</label>
        <div class="col-9">
            <input class="form-control" type="text" placeholder="Código del usuario" id=" validationServer01"
                [(ngModel)]="libp.usuario" name="titulo" #nombre="ngModel" required>

            <div class="invalid-feedback">

                El nombre es necesario.

            </div>
        </div>
    </div>
    <p>
    <p>
        <button class="btn btn-success btn-block" type="submit">Prestar libro <i
                class="fas fa-check-circle"></i></button>
    <p>
</form>
<h3 class="display-4 text-center mb-3 text-primary pt-3">Libros Prestados</h3>
<hr>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center" scope="col">Libro</th>
            <th class="text-center" scope="col">Usuario</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of libros">
            <td class="text-center">{{libro.libro.titulo}}</td>
            <td class="text-center">{{libro.usuario.nombre}}</td>
            <!-- <td><button (click)="modificaruser(forma)">Modificar</button></td> -->
        </tr>
    </tbody>
</table>